body{
    font-family: 'Poppins';
}
.cabecalho{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 30px;

}
.pochita{
    max-width: 65px;
}
.menu{
    display: flex;
    align-items: center;
    height: 100%;
}
.menu li a{
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.5s;
    
}
.menu li a:hover{
    background-color: red;
}
.container{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0 30px 30px;
    height: calc(100vh - 132px);
}
.container .logo{
    max-width: 500px;
}
.container .descricao{
    color: rgb(212, 212, 212);
    width: 80%;
    margin: 30px 0;
    font-size: 18px;
}
.container .botao{
    background-color: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.container .botao:hover{
    transform: scale(1.1);
}
.denji{
    max-width: 500px;
}
.fundo-video{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fundo-video .video{
    height: 100vh;
}
.fundo-video::after{
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    opacity: 0;
    visibility: hidden;
}
.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}
.botao-fechar{
    background-color: #3DD63B;
    color: #E4471C;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.modal iframe{
    border-width: 0;
    width: 640px;
    height: 360px;
}
.modal.aberto{
    opacity: 1;
    visibility: visible;
}
